<div class="login">
  <div class="container">
    <div class="form">

    <h1>sign up</h1>

 <%= form_for @user do |f| %>
 <div class='form'>
      <%= f.text_field :first_name, :placeholder => "first name", class: 'login-input' %>
      <%= f.text_field :last_name, :placeholder => "last name", class: 'login-input' %>
      <%= f.email_field :email, :placeholder => "email", class: 'login-input' %>
      <%= f.password_field :password, :placeholder => "password", class: 'login-input' %>
      <%= f.submit "create account", class: "btn-submit" %>
   </div>
    <% end %>

    </div>
  </div>
</div>
