<!DOCTYPE html>
<html>
  <head>
    <title>palette</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if current_user %>
  <ul>
    <li class='left-li'><%= current_user.email %></li>
    <li><%= link_to "log out", logout_path, method: "delete", class: 'logout-extra' %></li>
  </ul>
<% else %>
  <ul>
    <li class='left-li'><%= link_to "login", 'login', class: 'logout' %></a></li>
    <li><%= link_to "sign up", 'signup', class: 'logout-extra' %></a></li>
  </ul>
<% end %>
    <%= yield %>
  </body>
</html>
